body { 
    background-color: #fcfcfc;
    font-family: Copperplate, sans-serif;
}
a {
    text-decoration: none;
    color:black;
}
a:hover { 
    color: #078291;
}
h1 {
    border-bottom: solid #078291;
}

section {
    text-align: center;
}

figure {
    margin-left: 14px;
    display: block;
    box-shadow: 1px 3px 3px #078291;
    -webkit-box-shadow: 1px 3px 3px #078291;
    -moz-box-shadow: 1px 3px 3px #078291;
}
main {
    padding-left: 20px;
    padding-right: 20px;
}
lh {
    font-size: 18px;
    font-weight: bold;
}
